Source: openpanel-mod-softwareupdate
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com
Build-Depends: debhelper (>= 5), libgrace-dev, openpanel-mkmodulexml, openpanel-dev, imagemagick
Standards-Version: 3.7.2

Package: openpanel-mod-softwareupdate
Architecture: any
Depends: openpanel-core (>= 0.8.3), openpanel-swupd
Description: OpenPanel module to manage software updates
 Controls software updates through OpenPanel
