Source: openpanel-mod-softwareupdate
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), libgrace-dev (>= 1.0), openpanel-dev (>= 1.1), imagemagick
Standards-Version: 3.7.2

Package: openpanel-mod-softwareupdate
Architecture: any
Pre-Depends: openpanel-core (>= 1.1), openpanel-authd (>= 1.1)
Depends: openpanel-core (>= 1.1), openpanel-swupd (>= 1.1), ${shlibs:Depends}, ${misc:Depends}
Description: OpenPanel module to manage software updates
 Controls software updates through OpenPanel
